.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 150px;
  padding: 0 30px;
  border: 1px solid #eeeeee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.backButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #9ea7ba;
  cursor: pointer;
}

.title {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 35px;
  color: #333;
  font-size: clamp(10px, 2vw, 15px);
  font-weight: 700;
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #e8e8e8;
  border-radius: 100%;
}

.icon img {
  width: 50%;
  height: 50%;
}

@media only screen and (max-width: 750px) {
  .container {
    height: 160px;
    padding: 0 25px;
  }

  .backButton {
    left: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .title {
    flex-direction: column;
    gap: 10px;
  }

  .icon {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    height: 150px;
  }

  .backButton {
    left: 10px;
  }
}
