.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.loginContainer h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.loginForm {
  max-width: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formField label {
  font-size: 20px;
  font-weight: 600;
}

.forgotPassword {
  color: #4376FB;
  font-size: 14px;
  font-weight: 500;
  align-self: flex-end;
  text-decoration: none;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.submitButton {
  height: 60px;
  background-color: #4376fb;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.submitButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.newAccount {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 80px;
}

.createLink {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #0070f3;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.createLink:hover {
  text-decoration: underline;
}

.Obs {
  font-size: 13px;
  font-weight: 400;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.nameGroup {
  display: flex;
  gap: 40px;
}

@media (max-width: 600px) {
  .nameGroup {
    flex-direction: column;
    gap: 15px;
  }
} 