.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.resetPasswordContainer h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.resetPasswordForm {
  max-width: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formField label {
  font-size: 18px;
  font-weight: 600;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.submitButton {
  height: 60px;
  background-color: #4376fb;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.submitButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}
