.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 35px;
  padding: 20px;
  border: 1px solid #eeeeee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.topRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.bottomRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
}

.search {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 8px 12px;
  transition: all 0.2s ease;
}

.search img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.search input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 14px;
  color: #333;
}

.search input::placeholder,
.smallInput::placeholder {
  color: #9ea7ba;
}

.search:focus-within {
  border-color: #4376fb;
  box-shadow: 0 0 0 3px rgba(67, 118, 251, 0.1);
}

.select {
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 7px;
  font-size: 14px;
  outline: none;
  color: black;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.select:focus,
.smallInput:focus {
  border-color: #4376fb;
  box-shadow: 0 0 0 3px rgba(46, 125, 50, 0.1);
}

.priceGroup {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f9f9f9;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #eee;
}

.smallInput {
  width: 100px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 13px;
  outline: none;
  text-align: center;
}

.searchBtn {
  padding: 10px 24px;
  background-color: #4376fb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}

.searchBtn:hover {
  background-color: #0056b3;
}

.resetBtn {
  padding: 8px 16px;
  background-color: transparent;
  color: #333;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

.resetBtn:hover {
  color: #d32f2f;
  background-color: #ffebee;
}

@media (max-width: 530px) {
  .topRow {
    flex-direction: column;
  }

  .bottomRow {
    flex-direction: column;
  }

  .search,
  .select,
  .searchBtn,
  .priceGroup,
  .resetBtn {
    width: 100%;
    max-width: 350px;
  }

  .priceGroup {
    justify-content: center;
  }

  .smallInput {
    width: 45%;
  }

  .resetBtn {
    margin-left: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 8px;
  }
}
