.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordContainer input {
  padding-right: 80px; 
}

.showPassword {
  position: absolute;
  right: 0;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 90%;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.eyeIcon {
  color: gray;
}

.formInput {
  height: 50px;
  outline-color: gray;
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  padding-left: 20px;
  font-size: 15px;
  color: black;
  width: 100%;
}

.formInput::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #9ea7ba;
}