.container {
  display: flex;
  gap: 40px; 
  width: 100%;
}

.selectGroup {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.selectGroup label {
  font-size: 20px;
  font-weight: 600;
}

.select {
  padding: 15px;
  background-color: white;
  outline: none;
  border: solid 1px #ddd;
  border-radius: 7px;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  color: #9ea7ba;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.select:focus {
  border-color: #4376fb;
  box-shadow: 0 0 0 3px #0056b31a;
}

.hasValue {
  color: #333;
}

.select option {
  color: #333;
}

.select:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  color: #999;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 15px;
  }
}