@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  animation: spin 0.8s linear infinite;
  box-sizing: border-box;
}