.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 20px;
}

.container h2 {
  text-align: center;
  font-size: clamp(25px, 3vw, 32px);
  font-weight: 700;
}

.form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formField label {
  font-size: 16px;
  font-weight: 600;
}

.formField input,
.formField textarea,
.formField select {
  height: 46px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 7px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
}

.formField input:focus,
.formField textarea:focus {
  border-color: #4376fb;
}

.formField input::placeholder,
.formField textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: #9ea7ba;
}

.formField textarea {
  resize: none;
  height: fit-content;
}

.rowGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.submitButton {
  width: 100%;
  height: 55px;
  background-color: #4376fb;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #0056b3;
}

.submitButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}
