* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  padding-top: 90px;
  background-color: #F7F7F7;
  color: #333;
}

main {
  margin-top: 30px;
}