.container {
  display: flex;
  gap: 40px; 
  width: 100%;
}

.selectGroup {
  flex: 1; 
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.selectGroup label {
  font-size: 20px;
  font-weight: 600;
}

.select {
  padding: 15px;
  background-color: white;
  outline-color: gray;
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  color: #9ea7ba;
}

.hasValue {
  color: #000;
}

.select option {
  color: #000;
}

.select:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
  color: #999;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 15px;
  }
}