.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.resetPasswordContainer h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.resetPasswordForm {
  max-width: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formField label {
  font-size: 18px;
  font-weight: 600;
}

.formField input::placeholder {
  font-size: 15px;
  color: #9ea7ba;
}

.formField input {
  height: 50px;
  outline-color: gray;
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  padding-left: 20px;
  font-size: 15px;
  color: black;
  width: 100%;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordContainer input {
  padding-right: 80px; 
}

.showPassword {
  position: absolute;
  right: 10;
  display: flex;
  justify-content: center;
  align-items: center ;
  height: 90%;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.eyeIcon {
  color: gray;;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.submitButton {
  height: 60px;
  background-color: #4376fb;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.submitButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}
