.navBar {
    background-color: #1B1B1B;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 620px) {
    .navBar {
        justify-content: center;
    }
}